/*
*{
    color: rebeccapurple;
    font-size: 30px;
}*/


/*
h1{
    color: red;
    font-size: 60px;
}*/

/*#my_header1{
    color: red;
    font-size: 60px;
}*/

/*.colect1{
    color: deeppink;
    font-size: 30px;
}*/

/*[class]{
    color:blue;
}*/

/*
[class='ssa']{
    color: red;
}
*/

/*h2,p,ul{
    color: blue;
}*/

/*.ssa,#my_header1{
    color: red;
}*/

/*
li:first-child{
    color: red;
}
li:last-child{
    color: blue;
}
li:nth-child(3){
    color: orange;
}
h1:hover{
    color: blue;
}*/

/*
p::first-letter{
    color: red;
    font-size: 40px;
}


p::selection{
    color:aqua;
    background-color: black;
}

li::marker{
    color: blue;
}

p::first-line{
    color: gold;
}

ul li{
    list-style: lower-greek;
}*/

/*#hed h1{
    color: white;
    background-color: black;
}*/

/*
header>h1{
    color: white;
    background-color: black;
}
*/

/*h1+p{
    color: red;
}*/

/*h1 ~ p {
    color: red;
}*/

/*body>main>ol>li:nth-child(3){
    color:red;
}*/


/*
h1{
    color: red!important;
}

.class{
    color: black;
}
*/
/*
section{
    font-size: 40px;
}
section>h1{
    font-size: 2rem;
}
section>p{
    font-size: 1rem;
}*/
/*
div{
    width: 100vw;
    height: 100vh;
    background: red;
}*/


/*
h1{
    border: 1px solid black;
    position: relative;
    left: 200px;
    width: 300px;
}*/


/*
section{
    width: 600px;
    height: 400px;
    border: 1px solid black;
}

div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}*/


/*section{
    border: 1px solid black;
}

div{
    width: 150px;
    height: 50px;
    background: blue;
    position: fixed;
    right: 2px;
    bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
}

div>h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    bottom: 3px;

}

div:hover h3{
    color: red;
}*/

/*
section{
    height: 700px;
    border: 2px solid black;
}

body section:nth-child(1)>h1{
    position: sticky;
    font-size: 100px;
    top: 0px;
    width: 100px;
    left: 100px;
}*/

/*section:nth-child(1){
    background: red;
    width: 50vw;
    height: 50vh;
    position: absolute;
}
section:nth-child(2){
    background: #22a70a;
    width: 50vw;
    height: 50vh;
    position: absolute;
    right: 0px;
}
section:nth-child(3){
    background: #d98d13;
    width: 50vw;
    height: 50vh;
    position: absolute;
    bottom: 0px;
}
section:nth-child(4){
    background: #f63cd1;
    width: 50vw;
    height: 50vh;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

section div.pi1{
    background-color: white;
    width: 10vw;
    height: 15vh;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);

}

div:nth-child(5){
    border: 1px solid black;
    width: 50px;
    height: 50px;
    z-index: 5;
    position: absolute;
}

h1{
    z-index: 6;
    position: absolute;
    left: 100px;
}*/

/*
!*................................................Start Assisment 2....................................................*!


header{
    position: relative;
    height: 100px;
    box-shadow: 1px 5px 10px 0px;
}

header>img{
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
}

header>ul{
    position: absolute;
    height: 20px;
    right: 10px;
    bottom: 0;
    top: 0;
    margin: auto;
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
    list-style: none;
}

header li{
    display: inline-block;
    !*margin-right: 10px;*!
    padding: 0 20px;
}
header>ul>li:hover{
    cursor: pointer;
    color: blue;
}

main{
    position: relative;
    min-height: 553px;
    !*width: 1300px;*!
}

main>nav{
    position: absolute;
    width: 200px;
    background: #5b5b88;
    top: 0;
    bottom: 0;
}

main>section{
    !*position: relative;*!
    !*left: 210px;*!
    !*width: 1300px;*!
    margin-left: 200px;
    padding: 10px;
}

footer{
    position: relative;
    box-shadow: 1px -5px 7px black;
    height: 60px;
}

footer>p{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    width: 150px;
    height: 20px;
    font-weight: bold;
}

main>section>section{
    height: 200px;
    border: 1px solid black;
    position: relative;
}

main>section>section>div{
    position: absolute;
    height: 100%;
    border: 1px solid red;
    width: calc(100%/3);
}


main>nav>ul>li{
    padding-bottom: 20px;
}

main>nav>ul{
    list-style: none;
    margin-top: 40px;
    font-size: 20px;
}
main>nav>ul>li>a{
    text-decoration: none;
    color: white;
    padding-bottom: 1px;
    border-bottom: 2px solid bisque;
    margin-left: 13px;
}

main>nav>ul>li>a:hover{
    color: deeppink;
}



main>section>section>div:nth-child(1){
    left: 0;
    background-image: url("../images/th.jpeg");
    background-size: contain;
}
main>section>section>div:nth-child(2){
    left: calc(100% /3);
    background-image: url("../images/th.jpeg");
    background-size: cover;
}
main>section>section>div:nth-child(3){
    left: calc((100% /3)*2);

}

main>section>section>div:nth-child(3)>img{
    width: 100%;
    height: 100%;
}


!*.........................................End Assisment 2......................................................*!*/

/*......................................Start 1...................................*/

/*body>section{
    height: 200px;
    border: 1px solid black;
    position: relative;
}

body>section>div{
    border: 1px solid red;
    height: 100%;
    position: absolute;
    width: calc(100% / 4);
}

body>section>div:nth-child(1){
    left: 0;
}
body>section>div:nth-child(2){
    left: calc(100%/4);
}
body>section>div:nth-child(3){
    left: calc((100%/4)*2);
}
body>section>div:nth-child(4){
    left: calc((100%/4)*3);*/
/*}*/
/*................................End 1 ...................................*/


body>main>section{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction:row;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    display: grid;
    /*grid-template-rows: 100px 100px 100px 100px 100px;*/
    grid-template-rows: repeat(5,1fr);
    /*grid-template-columns: 250px 250px;*/
    /*grid-template-columns: repeat(2,250px);*/
    grid-template-columns: repeat(2,1fr);

    grid-gap: 10px 20px;
}

body>main>section>div{
    border: 1px solid red;
    /*width: 300px;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 200px;*/
}

body>main>section>div:nth-child(1){
    /*flex-grow: 1;*/
    /*order: 3;*/
}
body>main>section>div:nth-child(2){
    /*flex-grow: 2;*/
    /*order: 1;*/
}
body>main>section>div:nth-child(3){
    /*flex-grow: 3;*/
    /*order: 2;*/
}
body>main>section>div:nth-child(4){
    /*flex-grow: 4;*/
    /*order: 4;*/
}
